@import "_fonts";
//@import "_content";
@import "_footer";
@import "_header";
@import "_menumobile";

a { 
    color: #ffffff;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #ffffff;
    }
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
.main {
    border: 12px solid #0c95fa;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.home {
    h1 {
        font-size: 108px;
        padding-right: 456px;
        padding: 100px 300px 120px 0;
        line-height: 1;
        text-transform: uppercase;
    }
}



.base-links {
    padding: 30px;
    background-color: dimgrey;
}