@import "_fonts";
@import "_content";
@import "_footer";

a { 
    color: #ffffff;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #ffffff;
    }
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
header {
    color:#ffffff;
    background-color: #00692f;
    padding: 20px 20px;
    
}
.base-links {
    padding: 30px;
    background-color: dimgrey;
}